@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/*---link stuff---*/

/* unvisited link */
a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  /*light pink*/
  color: #FFD6FF;
  text-decoration: none;
  transition: 0.3s;
}

/* selected link */
a:active {
  /*light blue*/
  color: #99B9FF;
  text-decoration: none;
}

body {
  /*dark blue*/
  background-color: #071369;
  color: #FFd6FF;
  font-family:'Raleway', sans-serif;
  text-align: left;
  padding: 20px;
  padding-top: 10px;
}

#space {
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;
  max-width: 680px;
  border: 3px solid #FFFFFF;
}

h3 {
  color: #FFFFFF;
}
